[user]
	name = Vito Sartori
	email = hey@vito.io
	signingkey = F98F7B8A

[commit]
	gpgsign = true

[merge]
	ff = false

[http]
	cookiefile = /Users/victorgama/.gitcookies

[pull]
	rebase = true

[credential]
	helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/
[rerere]
	enabled = 1
