[user]
	name = Victor Gama
	email = hey@vito.io
	signingkey = 9AEB9CC9296AA1D5

[commit]
	gpgsign = true

[tag]
    gpgsign = true

[merge]
	ff = false

[http]
	cookiefile = /Users/victorgama/.gitcookies

[pull]
	rebase = true

[credential]
	helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/
[rerere]
	enabled = 1
[core]
	excludesfile = ~/.gitignore
